.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container{
  border: 2px solid red;
  width: 400px;
  height: 600px;
  border-radius: 10px;
}